<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>continue-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1376},{288,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,117}}</string>
                <key>sourceSize</key>
                <string>{288,117}</string>
            </dict>
            <key>continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1086},{288,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,117}}</string>
                <key>sourceSize</key>
                <string>{288,117}</string>
            </dict>
            <key>home-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1534},{288,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,117}}</string>
                <key>sourceSize</key>
                <string>{288,117}</string>
            </dict>
            <key>home.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1415},{288,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,117}}</string>
                <key>sourceSize</key>
                <string>{288,117}</string>
            </dict>
            <key>restart-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1296},{288,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,117}}</string>
                <key>sourceSize</key>
                <string>{288,117}</string>
            </dict>
            <key>restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1177},{288,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,117}}</string>
                <key>sourceSize</key>
                <string>{288,117}</string>
            </dict>
            <key>txt_yxzt-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1177},{305,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{305,89}}</string>
                <key>sourceSize</key>
                <string>{373,89}</string>
            </dict>
            <key>txt_yxzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1086},{373,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,89}}</string>
                <key>sourceSize</key>
                <string>{373,89}</string>
            </dict>
            <key>yxzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{485,1082}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,1082}}</string>
                <key>sourceSize</key>
                <string>{485,1082}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pause.png</string>
            <key>size</key>
            <string>{502,1666}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5a79373212f409446cd1b9ad611b2f2$</string>
            <key>textureFileName</key>
            <string>pause.png</string>
        </dict>
    </dict>
</plist>
