<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1672},{221,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,175}}</string>
                <key>sourceSize</key>
                <string>{221,175}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1530,658}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1530,658}}</string>
                <key>sourceSize</key>
                <string>{1530,658}</string>
            </dict>
            <key>bg_txt-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,854},{816,132}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,17},{816,132}}</string>
                <key>sourceSize</key>
                <string>{850,182}</string>
            </dict>
            <key>bg_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{850,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{850,182}}</string>
                <key>sourceSize</key>
                <string>{850,182}</string>
            </dict>
            <key>btn_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,1694},{117,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,74}}</string>
                <key>sourceSize</key>
                <string>{117,74}</string>
            </dict>
            <key>btn_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1886},{366,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,126}}</string>
                <key>sourceSize</key>
                <string>{366,126}</string>
            </dict>
            <key>btn_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1886},{366,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,126}}</string>
                <key>sourceSize</key>
                <string>{366,126}</string>
            </dict>
            <key>btn_sblq-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,1751},{187,52}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,1},{187,52}}</string>
                <key>sourceSize</key>
                <string>{279,56}</string>
            </dict>
            <key>btn_sblq.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1534},{279,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,56}}</string>
                <key>sourceSize</key>
                <string>{279,56}</string>
            </dict>
            <key>btn_zjlq-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,1694},{214,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{214,55}}</string>
                <key>sourceSize</key>
                <string>{280,55}</string>
            </dict>
            <key>btn_zjlq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,998},{280,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,55}}</string>
                <key>sourceSize</key>
                <string>{280,55}</string>
            </dict>
            <key>cjbx-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,1770},{165,23}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{165,23}}</string>
                <key>sourceSize</key>
                <string>{165,41}</string>
            </dict>
            <key>cjbx.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,1795},{165,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,41}}</string>
                <key>sourceSize</key>
                <string>{165,41}</string>
            </dict>
            <key>day1-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,1838},{122,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{122,35}}</string>
                <key>sourceSize</key>
                <string>{122,41}</string>
            </dict>
            <key>day1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,1504},{122,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,41}}</string>
                <key>sourceSize</key>
                <string>{122,41}</string>
            </dict>
            <key>day2-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1849},{211,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{211,35}}</string>
                <key>sourceSize</key>
                <string>{211,41}</string>
            </dict>
            <key>day2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,1380},{122,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,41}}</string>
                <key>sourceSize</key>
                <string>{122,41}</string>
            </dict>
            <key>day3-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1977},{182,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{182,35}}</string>
                <key>sourceSize</key>
                <string>{186,41}</string>
            </dict>
            <key>day3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,1838},{122,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,41}}</string>
                <key>sourceSize</key>
                <string>{122,41}</string>
            </dict>
            <key>day4-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,1805},{201,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{201,35}}</string>
                <key>sourceSize</key>
                <string>{201,41}</string>
            </dict>
            <key>day4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,1961},{122,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,41}}</string>
                <key>sourceSize</key>
                <string>{122,41}</string>
            </dict>
            <key>day5-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,1842},{182,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{182,35}}</string>
                <key>sourceSize</key>
                <string>{188,41}</string>
            </dict>
            <key>day5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,1918},{122,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,41}}</string>
                <key>sourceSize</key>
                <string>{122,41}</string>
            </dict>
            <key>day6-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,1470},{188,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{188,35}}</string>
                <key>sourceSize</key>
                <string>{192,41}</string>
            </dict>
            <key>day6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,1875},{122,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,41}}</string>
                <key>sourceSize</key>
                <string>{122,41}</string>
            </dict>
            <key>day7-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,998},{224,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{224,35}}</string>
                <key>sourceSize</key>
                <string>{228,41}</string>
            </dict>
            <key>day7.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,854},{122,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,41}}</string>
                <key>sourceSize</key>
                <string>{122,41}</string>
            </dict>
            <key>jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1879},{143,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,96}}</string>
                <key>sourceSize</key>
                <string>{143,96}</string>
            </dict>
            <key>kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1234},{304,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{304,234}}</string>
                <key>sourceSize</key>
                <string>{304,236}</string>
            </dict>
            <key>kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,998},{304,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{304,234}}</string>
                <key>sourceSize</key>
                <string>{304,236}</string>
            </dict>
            <key>kuang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1534},{350,496}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{350,496}}</string>
                <key>sourceSize</key>
                <string>{350,498}</string>
            </dict>
            <key>kuang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,500},{350,496}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{350,496}}</string>
                <key>sourceSize</key>
                <string>{350,498}</string>
            </dict>
            <key>yiqiandao-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,1280},{94,98}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,98}}</string>
                <key>sourceSize</key>
                <string>{94,102}</string>
            </dict>
            <key>yiqiandao.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1534},{94,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,102}}</string>
                <key>sourceSize</key>
                <string>{94,102}</string>
            </dict>
            <key>zhezhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1470},{292,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,222}}</string>
                <key>sourceSize</key>
                <string>{292,222}</string>
            </dict>
            <key>zhezhao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{350,496}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{350,496}}</string>
                <key>sourceSize</key>
                <string>{350,498}</string>
            </dict>
            <key>zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1879},{118,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,81}}</string>
                <key>sourceSize</key>
                <string>{118,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sign.png</string>
            <key>size</key>
            <string>{1198,2014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4960930a6648a7f52de13e19f61ed03d$</string>
            <key>textureFileName</key>
            <string>sign.png</string>
        </dict>
    </dict>
</plist>
